body {
    background-color : green;
}

h1 {
    display: block;
    text-align: center;
}


/* Author: w3schools.com */
.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#start {
    margin-bottom: 30px;
}